In [ ]:
import pandas as pd

# Carga de archivos
archivo_base = pd.read_excel("espacio_total_asignado_final.xlsx")
archivo_mayo = pd.read_excel("mayo_cotron.xlsx")

# Mostrar info básica de ambos
print("Archivo BASE")
display(archivo_base.head())
print("\nColumnas:")
print(archivo_base.columns)
print("\nTipos de datos:")
print(archivo_base.dtypes)

print("\n" + "="*80 + "\n")

print("Archivo MAYO")
display(archivo_mayo.head())
print("\nColumnas:")
print(archivo_mayo.columns)
print("\nTipos de datos:")
print(archivo_mayo.dtypes)

Archivo BASE

,id_socio,socio,fecha,pallets_iniciales,cantidad_pallets_sacados,stock_ayer,ingresos_estimados,base,mes,ingresos_por_socio_mes,ingresos_totales_mes,peso_de_compra,peso_de_compra_%,espacio,espacio_variable_asignado,espacio_total_asignado
0,3.0,DOZ CARLOS,2025-04-03,14,3,14,3,10,2025-04,55,4933,0.011149,2,2,4,14
1,5.0,GARMENDIA HUGO,2025-04-03,22,8,26,4,10,2025-04,110,4933,0.022299,3,2,6,16
2,8.0,GRAZIOSI MIRTHA,2025-04-03,34,0,32,2,10,2025-04,178,4933,0.036084,4,2,8,18
3,9.0,PACI ANTONIO - DIGIANO JAVIER SH,2025-04-03,9,6,7,8,10,2025-04,76,4933,0.015406,2,2,4,14
4,10.0,ROSICA GABRIEL,2025-04-03,12,0,4,8,10,2025-04,214,4933,0.043381,5,2,10,20

Columnas:
Index(['id_socio', 'socio', 'fecha', 'pallets_iniciales',
       'cantidad_pallets_sacados', 'stock_ayer', 'ingresos_estimados', 'base',
       'mes', 'ingresos_por_socio_mes', 'ingresos_totales_mes',
       'peso_de_compra', 'peso_de_compra_%', 'espacio',
       'espacio_variable_asignado', 'espacio_total_asignado'],
      dtype='object')

Tipos de datos:
id_socio                            float64
socio                                object
fecha                        datetime64[ns]
pallets_iniciales                     int64
cantidad_pallets_sacados              int64
stock_ayer                            int64
ingresos_estimados                    int64
base                                  int64
mes                                  object
ingresos_por_socio_mes                int64
ingresos_totales_mes                  int64
peso_de_compra                      float64
peso_de_compra_%                      int64
espacio                               int64
espacio_variable_asignado             int64
espacio_total_asignado                int64
dtype: object

================================================================================

Archivo MAYO

,id_socio,socio,fecha,pallets_iniciales,cantidad_pallets_sacados,stock_ayer,ingresos_estimados,base,mes,ingresos_por_socio_mes,ingresos_totales_mes,peso_de_compra,peso_de_compra_%,espacio,espacio_variable_asignado,espacio_total_asignado
0,3.0,DOZ CARLOS,2025-05-02,21,3,19,5,10,2025-05,86,5179,0.016606,2,2,4,14
1,5.0,GARMENDIA HUGO,2025-05-02,8,6,11,3,10,2025-05,115,5179,0.022205,3,2,6,16
2,8.0,GRAZIOSI MIRTHA,2025-05-02,30,7,42,-5,10,2025-05,98,5179,0.018923,2,2,4,14
3,9.0,PACI ANTONIO - DIGIANO JAVIER SH,2025-05-02,5,6,7,4,10,2025-05,116,5179,0.022398,3,2,6,16
4,10.0,ROSICA GABRIEL,2025-05-02,11,12,5,18,10,2025-05,171,5179,0.033018,4,2,8,18

Columnas:
Index(['id_socio', 'socio', 'fecha', 'pallets_iniciales',
       'cantidad_pallets_sacados', 'stock_ayer', 'ingresos_estimados', 'base',
       'mes', 'ingresos_por_socio_mes', 'ingresos_totales_mes',
       'peso_de_compra', 'peso_de_compra_%', 'espacio',
       'espacio_variable_asignado', 'espacio_total_asignado'],
      dtype='object')

Tipos de datos:
id_socio                            float64
socio                                object
fecha                        datetime64[ns]
pallets_iniciales                     int64
cantidad_pallets_sacados              int64
stock_ayer                            int64
ingresos_estimados                    int64
base                                  int64
mes                                  object
ingresos_por_socio_mes                int64
ingresos_totales_mes                  int64
peso_de_compra                      float64
peso_de_compra_%                      int64
espacio                               int64
espacio_variable_asignado             int64
espacio_total_asignado                int64
dtype: object

In [4]:

import shutil

# Crear backup del archivo original
shutil.copyfile("espacio_total_asignado_final.xlsx", "espacio_total_asignado_backup.xlsx")

# Leer los datos nuevos de mayo
df_mayo = pd.read_excel("mayo_cotron.xlsx", sheet_name="Hoja1")

# Leer el archivo total actual
df_total = pd.read_excel("espacio_total_asignado_final.xlsx", sheet_name="Sheet1")

# Asegurar que la columna 'fecha' sea datetime
df_total['fecha'] = pd.to_datetime(df_total['fecha'])
df_mayo['fecha'] = pd.to_datetime(df_mayo['fecha'])

# Filtrar datos que NO son de mayo
df_sin_mayo = df_total[df_total['fecha'].dt.month != 5]

# Unir los datos sin mayo con los nuevos de mayo
df_actualizado = pd.concat([df_sin_mayo, df_mayo], ignore_index=True)

# Ordenar por fecha y socio
df_actualizado = df_actualizado.sort_values(by=['fecha', 'socio'])

# Sobrescribir el archivo original
with pd.ExcelWriter("espacio_total_asignado_final.xlsx", engine='openpyxl', mode='w') as writer:
    df_actualizado.to_excel(writer, index=False, sheet_name="Sheet1")

In [5]:
# Filtrar solo mayo
df_mayo_total = df_actualizado[df_actualizado['fecha'].dt.month == 5]

# Ver los registros de "grazosi mirtha"
mirtha = df_mayo_total[df_mayo_total['socio'].str.lower().str.strip() == "grazosi mirtha"]

print(mirtha)

Empty DataFrame
Columns: [id_socio, socio, fecha, pallets_iniciales, cantidad_pallets_sacados, stock_ayer, ingresos_estimados, base, mes, ingresos_por_socio_mes, ingresos_totales_mes, peso_de_compra, peso_de_compra_%, espacio, espacio_variable_asignado, espacio_total_asignado]
Index: []

In [6]:
df_mayo_total = df_actualizado[df_actualizado['fecha'].dt.month == 5]

# Buscamos socio que contenga la palabra "grazosi" para evitar errores
mirtha_filas = df_mayo_total[df_mayo_total['socio'].str.contains("grazosi", case=False, na=False)]

print(mirtha_filas[['socio', 'fecha']])

Empty DataFrame
Columns: [socio, fecha]
Index: []

In [7]:
print(mirtha_filas['socio'].unique())

[]

In [8]:
import difflib

# Obtenemos todos los nombres únicos (puede ser muy largo, si el DF es muy grande lo filtramos antes)
nombres_unicos = df_actualizado['socio'].dropna().unique()

# Buscamos los nombres que se parezcan a "grazosi mirtha"
similares = difflib.get_close_matches("grazosi mirtha", nombres_unicos, n=10, cutoff=0.6)

print("Nombres similares encontrados:")
print(similares)

Nombres similares encontrados:
[]

In [9]:
print(df_actualizado[df_actualizado['socio'].str.strip().str.lower() == "graziosi mirtha"])

      id_socio             socio      fecha  pallets_iniciales  \
761        8.0   GRAZIOSI MIRTHA 2025-01-04                 50
794        8.0   GRAZIOSI MIRTHA 2025-01-06                 46
827        8.0   GRAZIOSI MIRTHA 2025-01-07                 50
860        8.0   GRAZIOSI MIRTHA 2025-01-08                 31
893        8.0   GRAZIOSI MIRTHA 2025-01-09                 53
...        ...               ...        ...                ...
3632       8.0  GRAZIOSI MIRTHA  2025-05-26                 34
3665       8.0  GRAZIOSI MIRTHA  2025-05-27                 29
3698       8.0  GRAZIOSI MIRTHA  2025-05-28                 29
3731       8.0  GRAZIOSI MIRTHA  2025-05-30                 26
3764       8.0  GRAZIOSI MIRTHA  2025-05-31                 20

      cantidad_pallets_sacados  stock_ayer  ingresos_estimados  base      mes  \
761                          0          40                  10    10  2025-01
794                          0          50                  -4    10  2025-01
827                          8          46                  12    10  2025-01
860                         10          50                  -9    10  2025-01
893                          0          31                  22    10  2025-01
...                        ...         ...                 ...   ...      ...
3632                         6          31                   9    10  2025-05
3665                         0          34                  -5    10  2025-05
3698                         0          29                   0    10  2025-05
3731                         0          23                   3    10  2025-05
3764                        20          26                  14    10  2025-05

      ingresos_por_socio_mes  ingresos_totales_mes  peso_de_compra  \
761                       82                  4849        0.016911
794                       82                  4849        0.016911
827                       82                  4849        0.016911
860                       82                  4849        0.016911
893                       82                  4849        0.016911
...                      ...                   ...             ...
3632                      98                  5179        0.018923
3665                      98                  5179        0.018923
3698                      98                  5179        0.018923
3731                      98                  5179        0.018923
3764                      98                  5179        0.018923

      peso_de_compra_%  espacio  espacio_variable_asignado  \
761                  2        2                          4
794                  2        2                          4
827                  2        2                          4
860                  2        2                          4
893                  2        2                          4
...                ...      ...                        ...
3632                 2        2                          4
3665                 2        2                          4
3698                 2        2                          4
3731                 2        2                          4
3764                 2        2                          4

      espacio_total_asignado
761                       14
794                       14
827                       14
860                       14
893                       14
...                      ...
3632                      14
3665                      14
3698                      14
3731                      14
3764                      14

[115 rows x 16 columns]

In [12]:
print(df_actualizado['socio'].head(30).tolist())

['ACHBON SA', 'ALDIR SRL', 'AQUINO CRISTINA DEL CARMEN', 'BARADERO 2', 'BORA HUGO ALBERTO', 'BREGMAN MAURICIO', 'CANEPA PATRICIO', 'CRISTIAN HERNAN GONZALEZ', 'DOZ CARLOS', 'EL LUCERO', 'EL VIEJO ALMACEN SRL', 'FRANZINI CLAUDIO ESTEBAN', 'GARMENDIA HUGO', 'GRAZIOSI MIRTHA', 'JOSE FRANCISCO RIBEIRO', 'LA NUEVA ESTRELLA ARGENTINA SRL', 'LANGELLA MARISA', 'LOGISTICA Y DISTRIBUCION TANGO SA', 'MAIOLA SANTIAGO', 'MARIA ESTER BRAVO', 'MITAHI PORA S.A.', 'NAHUBRA SA', 'PACI ANTONIO - DIGIANO JAVIER SH', 'PADULA MAXIMILIANO DANIEL', 'PADULA MAXIMILIANO DANIEL Y ZADRAVEC  CLAUDIA INES', 'RICHEBONO MARIA', 'ROSICA GABRIEL', 'SANTOGIANI NANCY Y LA LIPELA SRL', 'SBAIZ HNOS S.H', 'SUPERMERCADOS LA ECONOMIA SA']

In [ ]:
# Normalizo la columna socio, quitando espacios y poniendo todo en mayúsculas
df_actualizado['socio'] = df_actualizado['socio'].str.strip().str.upper()

# Hacemos lo mismo con mayo_cotron, para que quede homogéneo
#mayo_cotron['socio'] = mayo_cotron['socio'].str.strip().str.upper()

In [1]:
import pandas as pd
import shutil

# Paso 0: Restaurar archivo original desde backup (opcional)
shutil.copyfile("espacio_total_asignado_backup.xlsx", "espacio_total_asignado_final.xlsx")

# Paso 1: Leer archivos Excel
df_total = pd.read_excel("espacio_total_asignado_final.xlsx", sheet_name="Sheet1")
df_mayo = pd.read_excel("mayo_cotron.xlsx", sheet_name="Hoja1")

# Paso 2: Asegurar que 'fecha' sea datetime
df_total['fecha'] = pd.to_datetime(df_total['fecha'])
df_mayo['fecha'] = pd.to_datetime(df_mayo['fecha'])

# Paso 3: Eliminar duplicados en df_mayo (por si acaso)
df_mayo = df_mayo.drop_duplicates()

# Paso 4: Filtrar datos que NO sean de mayo en el archivo total
df_sin_mayo = df_total[df_total['fecha'].dt.month != 5]

# Paso 5: Concatenar datos sin mayo + datos nuevos de mayo
df_actualizado = pd.concat([df_sin_mayo, df_mayo], ignore_index=True)

# Paso 6: Ordenar por 'fecha' y 'socio'
df_actualizado = df_actualizado.sort_values(by=['fecha', 'socio'])

# Paso 7: Guardar archivo actualizado sobrescribiendo
with pd.ExcelWriter("espacio_total_asignado_final.xlsx", engine='openpyxl', mode='w') as writer:
    df_actualizado.to_excel(writer, index=False, sheet_name="Sheet1")

# Paso 8: Validación de socio "grazosi mirtha" en mayo
df_mayo_total = df_actualizado[df_actualizado['fecha'].dt.month == 5]

mirtha_filas = df_mayo_total[df_mayo_total['socio'].str.lower().str.strip() == "grazosi mirtha"]

print("Registros para 'GRAZIOSI MIRTHA' en mayo:")
print(mirtha_filas[['socio', 'fecha']])

Registros para 'GRAZIOSI MIRTHA' en mayo:
Empty DataFrame
Columns: [socio, fecha]
Index: []