In [1]:
import pandas as pd

ruta ='C:/Users/Sistemas/Desktop/pallets_cruzados_nuevo/especificacion_raul/espacio_total_asignado_final.xlsx'

df = pd.read_excel(ruta)

In [2]:
df.head()

,id_socio,socio,fecha,pallets_iniciales,cantidad_pallets_sacados,stock_ayer,ingresos_estimados,base,mes,ingresos_por_socio_mes,ingresos_totales_mes,peso_de_compra,peso_de_compra_%,espacio,espacio_variable_asignado,espacio_total_asignado
0,3.0,DOZ CARLOS,2025-04-03,14,3,14,3,10,2025-04,55,4933,0.011149,2,2,4,14
1,5.0,GARMENDIA HUGO,2025-04-03,22,8,26,4,10,2025-04,110,4933,0.022299,3,2,6,16
2,8.0,GRAZIOSI MIRTHA,2025-04-03,34,0,32,2,10,2025-04,178,4933,0.036084,4,2,8,18
3,9.0,PACI ANTONIO - DIGIANO JAVIER SH,2025-04-03,9,6,7,8,10,2025-04,76,4933,0.015406,2,2,4,14
4,10.0,ROSICA GABRIEL,2025-04-03,12,0,4,8,10,2025-04,214,4933,0.043381,5,2,10,20

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_socio                   3300 non-null   float64
 1   socio                      3300 non-null   object
 2   fecha                      3300 non-null   datetime64[ns]
 3   pallets_iniciales          3300 non-null   int64
 4   cantidad_pallets_sacados   3300 non-null   int64
 5   stock_ayer                 3300 non-null   int64
 6   ingresos_estimados         3300 non-null   int64
 7   base                       3300 non-null   int64
 8   mes                        3300 non-null   object
 9   ingresos_por_socio_mes     3300 non-null   int64
 10  ingresos_totales_mes       3300 non-null   int64
 11  peso_de_compra             3300 non-null   float64
 12  peso_de_compra_%           3300 non-null   int64
 13  espacio                    3300 non-null   int64
 14  espacio_variable_asignado  3300 non-null   int64
 15  espacio_total_asignado     3300 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(11), object(2)
memory usage: 412.6+ KB

In [4]:
df.describe()

,id_socio,fecha,pallets_iniciales,cantidad_pallets_sacados,stock_ayer,ingresos_estimados,base,ingresos_por_socio_mes,ingresos_totales_mes,peso_de_compra,peso_de_compra_%,espacio,espacio_variable_asignado,espacio_total_asignado
count,3300.000000,3300,3300.000000,3300.000000,3300.000000,3300.000000,3300.0,3300.000000,3300.000000,3300.000000,3300.000000,3300.0,3300.000000,3300.000000
mean,53.034273,2025-03-08 21:07:12,21.836364,4.350909,21.801515,4.385758,10.0,129.284848,4266.400000,0.030303,3.531212,2.0,7.062424,17.062424
min,3.000000,2025-01-04 00:00:00,0.000000,0.000000,0.000000,-55.000000,10.0,10.000000,2234.000000,0.002681,1.000000,2.0,2.000000,12.000000
25%,14.000000,2025-02-03 18:00:00,9.000000,0.000000,9.000000,-1.000000,10.0,81.000000,3945.000000,0.019179,2.000000,2.0,4.000000,14.000000
50%,38.000000,2025-03-09 00:00:00,17.000000,0.000000,17.000000,3.000000,10.0,113.000000,4175.000000,0.026397,3.000000,2.0,6.000000,16.000000
75%,77.000000,2025-04-11 06:00:00,30.000000,7.000000,30.000000,9.000000,10.0,157.000000,4849.000000,0.036084,4.000000,2.0,8.000000,18.000000
max,136.000000,2025-05-13 00:00:00,145.000000,47.000000,145.000000,63.000000,10.0,408.000000,4933.000000,0.084141,9.000000,2.0,18.000000,28.000000
std,43.225457,NaN,17.437974,6.716934,17.407139,10.407868,0.0,75.699042,788.287005,0.016566,1.640997,0.0,3.281995,3.281995

In [5]:
df.columns.tolist()

['id_socio',
 'socio',
 'fecha',
 'pallets_iniciales',
 'cantidad_pallets_sacados',
 'stock_ayer',
 'ingresos_estimados',
 'base',
 'mes',
 'ingresos_por_socio_mes',
 'ingresos_totales_mes',
 'peso_de_compra',
 'peso_de_compra_%',
 'espacio',
 'espacio_variable_asignado',
 'espacio_total_asignado']

In [6]:
df.nunique()

id_socio                      33
socio                         36
fecha                        100
pallets_iniciales            105
cantidad_pallets_sacados      43
stock_ayer                   105
ingresos_estimados            87
base                           1
mes                            5
ingresos_por_socio_mes       117
ingresos_totales_mes           5
peso_de_compra               151
peso_de_compra_%               9
espacio                        1
espacio_variable_asignado      9
espacio_total_asignado         9
dtype: int64

In [7]:
df.isnull().sum()

id_socio                     0
socio                        0
fecha                        0
pallets_iniciales            0
cantidad_pallets_sacados     0
stock_ayer                   0
ingresos_estimados           0
base                         0
mes                          0
ingresos_por_socio_mes       0
ingresos_totales_mes         0
peso_de_compra               0
peso_de_compra_%             0
espacio                      0
espacio_variable_asignado    0
espacio_total_asignado       0
dtype: int64

In [9]:
df.columns.tolist()

['id_socio',
 'socio',
 'fecha',
 'pallets_iniciales',
 'cantidad_pallets_sacados',
 'stock_ayer',
 'ingresos_estimados',
 'base',
 'mes',
 'ingresos_por_socio_mes',
 'ingresos_totales_mes',
 'peso_de_compra',
 'peso_de_compra_%',
 'espacio',
 'espacio_variable_asignado',
 'espacio_total_asignado']