In [1]:
import pandas as pd
# TOMA COPIA DE DF COMPLETO
ruta = 'C:/Users/Sistemas/Desktop/pallets_cruzados_nuevo/cruce_2025/copia_de df_completo.xlsx'

df = pd.read_excel (ruta)
df.head()

,id_socio,socio,fecha,pallets_iniciales,cantidad_pallets_sacados,stock_ayer,ingresos_estimados,rotacion_diaria,promedio_rotacion_mensual,base,promedio_pallets_por_ socio_diario,porcentaje_pallets_por_socio,parte_variable,total_final_por_socio,exceso_palets_contra_(fijo+variable),exceso_contra_fijo,mes
0,3.0,DOZ CARLOS,2025-04-03,14,3,14,3,0.214286,0.092621,10,15.0,0.0233,7.0,17.0,2.0,5.0,abril
1,5.0,GARMENDIA HUGO,2025-04-03,22,8,26,4,0.307692,0.286902,10,16.0,0.0248,8.0,18.0,2.0,6.0,abril
2,8.0,GRAZIOSI MIRTHA,2025-04-03,34,0,32,2,0.000000,0.145674,10,38.0,0.059,19.0,29.0,-8.0,28.0,abril
3,9.0,PACI ANTONIO - DIGIANO JAVIER SH,2025-04-03,9,6,7,8,0.857143,0.335857,10,12.0,0.0186,6.0,16.0,4.0,2.0,abril
4,10.0,ROSICA GABRIEL,2025-04-03,12,0,4,8,0.000000,0.591095,10,13.0,0.0202,6.0,16.0,3.0,3.0,abril

In [2]:
df.head()  # Muestra las primeras 5 filas (por defecto)

,id_socio,socio,fecha,pallets_iniciales,cantidad_pallets_sacados,stock_ayer,ingresos_estimados,rotacion_diaria,promedio_rotacion_mensual,base,promedio_pallets_por_ socio_diario,porcentaje_pallets_por_socio,parte_variable,total_final_por_socio,exceso_palets_contra_(fijo+variable),exceso_contra_fijo,mes
0,3.0,DOZ CARLOS,2025-04-03,14,3,14,3,0.214286,0.092621,10,15.0,0.0233,7.0,17.0,2.0,5.0,abril
1,5.0,GARMENDIA HUGO,2025-04-03,22,8,26,4,0.307692,0.286902,10,16.0,0.0248,8.0,18.0,2.0,6.0,abril
2,8.0,GRAZIOSI MIRTHA,2025-04-03,34,0,32,2,0.000000,0.145674,10,38.0,0.059,19.0,29.0,-8.0,28.0,abril
3,9.0,PACI ANTONIO - DIGIANO JAVIER SH,2025-04-03,9,6,7,8,0.857143,0.335857,10,12.0,0.0186,6.0,16.0,4.0,2.0,abril
4,10.0,ROSICA GABRIEL,2025-04-03,12,0,4,8,0.000000,0.591095,10,13.0,0.0202,6.0,16.0,3.0,3.0,abril

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 17 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id_socio                              3300 non-null   float64
 1   socio                                 3300 non-null   object
 2   fecha                                 3300 non-null   datetime64[ns]
 3   pallets_iniciales                     3300 non-null   int64
 4   cantidad_pallets_sacados              3300 non-null   int64
 5   stock_ayer                            3300 non-null   int64
 6   ingresos_estimados                    3300 non-null   int64
 7   rotacion_diaria                       3287 non-null   float64
 8   promedio_rotacion_mensual             3300 non-null   float64
 9   base                                  3300 non-null   int64
 10  promedio_pallets_por_ socio_diario    2970 non-null   float64
 11  porcentaje_pallets_por_socio          2970 non-null   object
 12  parte_variable                        2970 non-null   float64
 13  total_final_por_socio                 2970 non-null   float64
 14  exceso_palets_contra_(fijo+variable)  2970 non-null   float64
 15  exceso_contra_fijo                    2970 non-null   float64
 16  mes                                   3300 non-null   object
dtypes: datetime64[ns](1), float64(8), int64(5), object(3)
memory usage: 438.4+ KB

In [4]:
df.describe()

c:\Users\Sistemas\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
c:\Users\Sistemas\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,id_socio,fecha,pallets_iniciales,cantidad_pallets_sacados,stock_ayer,ingresos_estimados,rotacion_diaria,promedio_rotacion_mensual,base,promedio_pallets_por_ socio_diario,parte_variable,total_final_por_socio,exceso_palets_contra_(fijo+variable),exceso_contra_fijo
count,3300.000000,3300,3300.000000,3300.000000,3300.000000,3300.000000,3287.000000,3300.000000,3300.0,2970.000000,2970.000000,2970.000000,2970.000000,2970.000000
mean,53.034273,2025-03-08 21:07:12,21.836364,4.350909,21.801515,4.385758,inf,inf,10.0,21.007744,9.596633,19.596633,-0.947811,11.007744
min,3.000000,2025-01-04 00:00:00,0.000000,0.000000,0.000000,-55.000000,0.000000,0.000000,10.0,2.000000,0.000000,10.000000,-49.000000,-8.000000
25%,14.000000,2025-02-03 18:00:00,9.000000,0.000000,9.000000,-1.000000,0.000000,0.130387,10.0,12.000000,5.000000,15.000000,-3.000000,2.000000
50%,38.000000,2025-03-09 00:00:00,17.000000,0.000000,17.000000,3.000000,0.000000,0.201017,10.0,17.000000,8.000000,18.000000,1.000000,7.000000
75%,77.000000,2025-04-11 06:00:00,30.000000,7.000000,30.000000,9.000000,0.361111,0.350000,10.0,26.750000,12.000000,22.000000,4.000000,16.750000
max,136.000000,2025-05-13 00:00:00,145.000000,47.000000,145.000000,63.000000,inf,inf,10.0,100.000000,40.000000,50.000000,9.000000,90.000000
std,43.225457,NaN,17.437974,6.716934,17.407139,10.407868,NaN,NaN,0.0,13.996738,6.346054,6.346054,7.617076,13.996738

In [5]:
df.columns.tolist()

['id_socio',
 'socio',
 'fecha',
 'pallets_iniciales',
 'cantidad_pallets_sacados',
 'stock_ayer',
 'ingresos_estimados',
 'rotacion_diaria',
 'promedio_rotacion_mensual',
 'base',
 'promedio_pallets_por_ socio_diario',
 'porcentaje_pallets_por_socio',
 'parte_variable',
 'total_final_por_socio',
 'exceso_palets_contra_(fijo+variable)',
 'exceso_contra_fijo',
 'mes']

In [6]:
df.nunique()

id_socio                                 33
socio                                    36
fecha                                   100
pallets_iniciales                       105
cantidad_pallets_sacados                 43
stock_ayer                              105
ingresos_estimados                       87
rotacion_diaria                         509
promedio_rotacion_mensual               163
base                                      1
promedio_pallets_por_ socio_diario       44
porcentaje_pallets_por_socio             92
parte_variable                           26
total_final_por_socio                    26
exceso_palets_contra_(fijo+variable)     26
exceso_contra_fijo                       44
mes                                       5
dtype: int64

In [7]:
df.isnull().sum()

id_socio                                  0
socio                                     0
fecha                                     0
pallets_iniciales                         0
cantidad_pallets_sacados                  0
stock_ayer                                0
ingresos_estimados                        0
rotacion_diaria                          13
promedio_rotacion_mensual                 0
base                                      0
promedio_pallets_por_ socio_diario      330
porcentaje_pallets_por_socio            330
parte_variable                          330
total_final_por_socio                   330
exceso_palets_contra_(fijo+variable)    330
exceso_contra_fijo                      330
mes                                       0
dtype: int64

In [8]:
# PESO COMPRA
# Asegurar columna de mes tipo '2025-04'
df['mes'] = pd.to_datetime(df['fecha']).dt.strftime('%Y-%m')

# Total mensual por socio
pallets_por_socio_mes = df.groupby(['socio', 'mes'])['pallets_iniciales'].transform('sum')

# Total mensual general (de todos los socios)
pallets_totales_mes = df.groupby('mes')['pallets_iniciales'].transform('sum')

# Peso de compra
df['peso_de_compra'] = pallets_por_socio_mes / pallets_totales_mes

In [9]:
# Espacio fijo
espacio_fijo = 10

# Espacio variable mensual (suponiendo 90 para todos los meses)
espacio_variable_mensual = 90

# Espacio total asignado
df['espacio_total_asignado'] = espacio_fijo + (df['peso_de_compra'] * espacio_variable_mensual)

In [10]:
# ESPACIO TOTAL ASIGNADO POR MES Y SOCIO
# Pallets ingresados por socio y mes
pallets_por_socio_mes = df.groupby(['socio', 'mes'])['pallets_iniciales'].sum().reset_index(name='pallets_socio_mes')

# Total mensual
total_mes = df.groupby('mes')['pallets_iniciales'].sum().reset_index(name='total_mes')

# Merge
df_pesos = pallets_por_socio_mes.merge(total_mes, on='mes')

# Peso de compra mensual por socio
df_pesos['peso_de_compra'] = df_pesos['pallets_socio_mes'] / df_pesos['total_mes']

# Ahora sí, aplicar espacio total asignado (mensual)
espacio_fijo = 10
espacio_variable = 90  # por mes, constante por ahora

df_pesos['espacio_total_asignado'] = espacio_fijo + (df_pesos['peso_de_compra'] * espacio_variable)

In [11]:
df = df.merge(df_pesos[['socio', 'mes', 'espacio_total_asignado']], on=['socio', 'mes'], how='left')

In [12]:
# INDICE DE ROTACIÓN MENSUAL
# 1. Total de pallets despachados por socio y mes
despachos_mensuales = df.groupby(['socio', 'mes'])['cantidad_pallets_sacados'].sum().reset_index(name='total_despachado')

# 2. Promedio de stock diario por socio y mes
promedio_stock_mensual = df.groupby(['socio', 'mes'])['stock_ayer'].mean().reset_index(name='promedio_stock')

# 3. Unir ambos
df_rotacion = despachos_mensuales.merge(promedio_stock_mensual, on=['socio', 'mes'])

# 4. Calcular índice de rotación mensual
df_rotacion['indice_rotacion_mensual'] = df_rotacion['total_despachado'] / df_rotacion['promedio_stock']

def clasificar_rotacion(x):
    if x >= 1.0:
        return 'alta'
    elif x >= 0.5:
        return 'media'
    elif x > 0:
        return 'baja'
    else:
        return 'sin rotación'

df_rotacion['nivel_rotacion'] = df_rotacion['indice_rotacion_mensual'].apply(clasificar_rotacion)

In [13]:
df = df.merge(df_rotacion[['socio', 'mes', 'indice_rotacion_mensual']], on=['socio', 'mes'], how='left')

In [14]:
df.to_excel ('prueba.xlsx', index=False)