In [2]:
import pandas as pd
import numpy as np

ruta = 'C:/Users/Sistemas/Desktop/pallets_cruzados_nuevo/especificacion_raul/prueba_peso_compra.xlsx'

df = pd.read_excel (ruta)

df.head()

,id_socio,socio,fecha,pallets_iniciales,cantidad_pallets_sacados,stock_ayer,ingresos_estimados,rotacion_diaria,promedio_rotacion_mensual,base,mes,ingresos_por_socio_mes,ingresos_totales_mes,peso_de_compra
0,3.0,DOZ CARLOS,2025-04-03,14,3,14,3,0.214286,0.092621,10,2025-04,55,4933,0.011149
1,5.0,GARMENDIA HUGO,2025-04-03,22,8,26,4,0.307692,0.286902,10,2025-04,110,4933,0.022299
2,8.0,GRAZIOSI MIRTHA,2025-04-03,34,0,32,2,0.000000,0.145674,10,2025-04,178,4933,0.036084
3,9.0,PACI ANTONIO - DIGIANO JAVIER SH,2025-04-03,9,6,7,8,0.857143,0.335857,10,2025-04,76,4933,0.015406
4,10.0,ROSICA GABRIEL,2025-04-03,12,0,4,8,0.000000,0.591095,10,2025-04,214,4933,0.043381

In [3]:
df.columns

Index(['id_socio', 'socio', 'fecha', 'pallets_iniciales',
       'cantidad_pallets_sacados', 'stock_ayer', 'ingresos_estimados',
       'rotacion_diaria', 'promedio_rotacion_mensual', 'base', 'mes',
       'ingresos_por_socio_mes', 'ingresos_totales_mes', 'peso_de_compra'],
      dtype='object')

In [4]:
df.head()

,id_socio,socio,fecha,pallets_iniciales,cantidad_pallets_sacados,stock_ayer,ingresos_estimados,rotacion_diaria,promedio_rotacion_mensual,base,mes,ingresos_por_socio_mes,ingresos_totales_mes,peso_de_compra
0,3.0,DOZ CARLOS,2025-04-03,14,3,14,3,0.214286,0.092621,10,2025-04,55,4933,0.011149
1,5.0,GARMENDIA HUGO,2025-04-03,22,8,26,4,0.307692,0.286902,10,2025-04,110,4933,0.022299
2,8.0,GRAZIOSI MIRTHA,2025-04-03,34,0,32,2,0.000000,0.145674,10,2025-04,178,4933,0.036084
3,9.0,PACI ANTONIO - DIGIANO JAVIER SH,2025-04-03,9,6,7,8,0.857143,0.335857,10,2025-04,76,4933,0.015406
4,10.0,ROSICA GABRIEL,2025-04-03,12,0,4,8,0.000000,0.591095,10,2025-04,214,4933,0.043381

In [5]:
df.dtypes

id_socio                            float64
socio                                object
fecha                        datetime64[ns]
pallets_iniciales                     int64
cantidad_pallets_sacados              int64
stock_ayer                            int64
ingresos_estimados                    int64
rotacion_diaria                     float64
promedio_rotacion_mensual           float64
base                                  int64
mes                                  object
ingresos_por_socio_mes                int64
ingresos_totales_mes                  int64
peso_de_compra                      float64
dtype: object

In [6]:
df.isnull().sum()

id_socio                      0
socio                         0
fecha                         0
pallets_iniciales             0
cantidad_pallets_sacados      0
stock_ayer                    0
ingresos_estimados            0
rotacion_diaria              13
promedio_rotacion_mensual     0
base                          0
mes                           0
ingresos_por_socio_mes        0
ingresos_totales_mes          0
peso_de_compra                0
dtype: int64

In [7]:

df['peso_de_compra_%'] = np.ceil(df['peso_de_compra'] * 100).astype(int)

In [8]:
# Paso 1: Crear columna 'espacio', por ejemplo con valor fijo 1 por ahora
df['espacio'] = 2

# Paso 2: Crear 'espacio_variable_asignado'
df['espacio_variable_asignado'] = df['peso_de_compra_%'] * df['espacio']

In [9]:
espacio_fijo = 10

df['espacio_total_asignado'] = espacio_fijo + df['espacio_variable_asignado']
#

In [10]:
df.to_excel('espacio_total_asignado.xlsx', index=False)